/* tutorial for centering the canvas 
https://github.com/processing/p5.js/wiki/Positioning-your-canvas
 */
 body {
    height: 100%;
    background-color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
  }



p{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  main,
header{
    width:100%;
    max-width:1400px; /* means it won't be larger than 1200px on larger screens */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 3%;
}

nav{
    padding:10px 3%;
}
  
nav a:hover {
  text-decoration: underline;
}
h1{
  font-size: 30px;
}
h4{
  background-color: #ffffff;
}
  .middle {
    background-color: #e60c99;
    width: 50%;
    font-size:100%;
    text-align: justify; 
    margin-left: 300px;
    }
    
    

.left-half {
    background-color: #ffffff;
    margin-top: 50px;
    float:left;
    width: 60%;
}
.right-half {
  background-color: #00f080;
  float:right;
  width: 40%;
}


  #gui-container{
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
  }
  #sketch-container{

    position: absolute;
    top: 10%;
    right: 30%;
    margin-top: 50px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
  }
  
  .button{
    background-color: #ffffff;
    border: solid 0px ;
    border-radius: 2px;
    color: rgb(247, 228, 210);
    padding:10px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    /* margin: 80%;; */
    margin-right: auto; 
    font-size: 16px;
    min-width: 50px;
    cursor: pointer;
  }
  .button:hover{
    background-color:white;
    color: #f6d781;
  }
  .button.inactive{
    cursor:default;
    /* background-color: lightgray; */
    border-color: lightgray;
    color: rgb(244, 56, 56);
  }



/* experience  */
.experience {
  display: flex; 
  margin-left: 0px; 
  /* padding-top: 5%; */
}
.experience p {
  display: inline-block; 
  font-family: sans-serif;
  font-size: 1rem;
  margin-right: 30px; 
  font-weight: bolder;
}



.hover-underline-animation {
  display: inline-block;
  position: relative;
  /*color: #0087ca;*/
  color: #000000;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  /*background-color: #0087ca;*/
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}